{% extends 'rentals/base.html' %}
{% load i18n %}

{% block title %}تسجيل الدخول - مكتب عمار{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="content-card">
                <h3 class="text-center mb-4">تسجيل الدخول</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label fw-semibold">اسم المستخدم</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">كلمة المرور</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary-custom w-100 py-2">دخول</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}